* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
.game-container-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}
#game-container {
    width: 100%;
    max-width: 800px;
    display: grid;
    justify-content: center;
}
.game-header {
    display: flex;
    align-items: center;
    gap: 50px;
}
.game-header > p {
    font-size: 18px;
}
.game-header > button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(144, 255, 92);
    font-weight: bold;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.game-grid {
    margin-top: 12px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 100px));
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    justify-content: center;
}
.cell {
    aspect-ratio: 1 / 1;
    font-size: clamp(18px, 5vw, 50px);
    border: none;
}
.cell:nth-child(3n + 2){
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.empty {
    background-color: rgb(194, 194, 194);
}
.game-footer {
    margin-top: 10px;
    display: flex;
    gap: 30px;
}
.footer-player-container {
    display: flex;
    gap: 5px;
}
.footer-player-container > p {
    font-size: 14px;
}
.replace-name-input {
    width: 70px;
}